body {
	font-family: 'Open Sans', sans-serif;
}

.cover-container {
	max-width: 42em;
	background: white;
	font-weight: bolder
}

header {
	padding-top: 40px;
	padding-bottom: 10px;
}

.filter {
	padding-bottom: 20px
}

.card {
	border: none;
}

.bg-image {
	/* https://source.unsplash.com/ */
	/*background: url('https://source.unsplash.com/1cWZgnBhZRs/1600x900'); */
}